/* styles.css */

/* Sidebar styles */
#sidebar {
    width: 200px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
}

.sidebar-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #555;
    border: none;
    color: #fff;
    text-align: left;
    cursor: pointer;
}

/* Content styles */
#content {
    margin-left: 220px; /* Adjust based on sidebar width */
    padding: 20px;
}

/* Banner styles */
#banner {
    background-color: #f1f1f1;
    padding: 20px;
}

/* Introduction styles */
#introduction {
    margin-top: 20px;
}

/* Image section styles */
#image-section {
    margin-top: 20px;
}

/* Main content styles */
#main-content {
    margin-top: 20px;
}

#content form div {
    margin-bottom: 15px;
}
.comments-container {
    position: relative;
}

.comments-container label {
    position: absolute;
    background-color: white; /* Match background */
    padding: 0 5px; /* Add padding */
    z-index: 2; /* Place label above comment container */
} 

.comments-container textarea {
    margin-top: 2em;
}


